<%= form_for :employer, url: user_verify_create_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :dob %><br>
    <%= f.text_field :dob %>
  </p>

  <p>
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
