<center>
<h2>Employer Register</h2>
<%= form_for :employer, url: user_verify_create_path do |f| %>

  <% if @employer.errors.any? %>
    <div id="error_explanation">
      <h2>Please correct below <%= pluralize(@employer.errors.count, "error") %>:</h2>
      <ul>
        <% @employer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </p>

  <p>
    <%= f.label :gender %><br>
    <%= f.select(:gender, options_for_select([['Male', 'M'], ['Female', 'F']]), {:prompt => 'Select Gender'}) %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%=link_to 'Home', root_path%>
</center>

